@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");


*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none
}
#sidebarMenu{
    background-color: black;
}

.ccc{
    height: 100vh;
}

.nav-link {
    
    column-gap: 1rem;
    margin-bottom: 1.5rem;
    color: white;
    padding: .5rem 0 .5rem 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.nav-link:hover{
    color: #ff5f13;
    transition: color 1s;
}

.nav-link > i{
    font-size: 1.25rem;
    margin-right: 10px;
}