<main>
  <!--? slider Area Start-->
  <div class="slider-area ">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider slider-height d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 col-lg-9">
              <div class="hero__caption">
                <h1>Safe & Reliable <span>Logistic</span> Solutions!</h1>
              </div>
              <!--Hero form -->
              <form action="#" class="search-box">
                <div class="input-form">
                  <input type="text" placeholder="Your Tracking ID">
                </div>
                <div class="search-form">
                  <a id="tracktrace"data-bs-toggle="modal" data-bs-target="#exampleModale">Track & Trace</a>
                </div>
              </form>
              <!-- Hero Pera -->
              <div class="hero-pera">
                <p>For order status inquiry</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider Area End-->
  <!--? our info Start -->
  <div class="our-info-area pt-70 pb-40">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-info mb-30 ms-auto">
            <div class="info-icon">
              <i class="fa-solid fa-phone h4"></i>
            </div>
            <div class="info-caption">
              <p>Call Us Anytime</p>
              <span>+ (90) 123-23-23</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-info mb-30">
            <div class="info-icon">
              <i class="fa-solid fa-sun h3"></i>
            </div>
            <div class="info-caption">
              <p>Pazar KAPALI</p>
              <span>Pzt - Cts 8.00 - 18.00</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-info mb-30">
            <div>
              <i class="fa-sharp fa-solid fa-map-location h3"></i>
            </div>
            <div class="info-caption">
              <p>Bursa - Nilufer</p>
              <span>Turkey, Bursa - 16140</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- our info End -->
</main>
<footer>
  <!--? Footer Start-->
  <div class="footer-area footer-bg">
    <div class="container">
      <div class="footer-top footer-padding">
        <!-- footer Heading -->
        <div class="footer-heading">
          <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-8 col-md-8">
              <div class="wantToWork-caption wantToWork-caption2">
                <h2>We Understand The Importance Approaching Each Work!</h2>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4">
              <img src="assets/logo2_footer.png" alt="">
            </div>
          </div>
        </div>
        <!-- Footer Menu -->
      </div>
      <div class="footer-bottom">
        <div class="row d-flex align-items-center">
          <div class="col-lg-12">
            <div class="footer-copy-right text-center">
              <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved by devLog
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>

<div class="modal fade" id="exampleModale" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><img src="assets/loderbg.png">devLog</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        {{data}}
      </div>
    </div>
  </div>
</div>