@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,800|Teko:300,400,500,600,700&display=swap");
body {
    font-family: "Barlow", sans-serif;
    font-weight: normal;
    font-style: normal
}
html {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

html::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}